process {
    withLabel:BWA {
        container = "quay.io/biocontainers/bwa:0.7.17--hed695b0_7"
    }
    withLabel:BEDTOOLS {
      container = "quay.io/biocontainers/bedtools:2.30.0--hc088bd4_0"
    }
    withName:PARSE_GTF {
      container = "quay.io/biocontainers/bioconductor-rtracklayer:1.58.0--r42h58c1800_2"
    }
    withName:RETRIEVE_TCGA {
      container = "quay.io/biocontainers/bioconductor-tcgabiolinks:2.25.3--r42hdfd78af_0"
    }
}

docker {
  enabled = true
}

wave {
  enabled = true
  strategy = ['dockerfile','container']
}
